---

---

<style>
  .pride {
    background: linear-gradient(
      90deg,
      #fff 0%,
      #fff 10%,
      #ffafc8 10%,
      #ffafc8 20%,
      #74d7ee 20%,
      #74d7ee 30%,
      #613915 30%,
      #613915 40%,
      #e40303 40%,
      #e40303 50%,
      #ff8c00 50%,
      #ff8c00 60%,
      #ffed00 60%,
      #ffed00 70%,
      #008026 70%,
      #008026 80%,
      #24408e 80%,
      #24408e 90%,
      #732982 90%,
      #732982 100%
    );
  }

  .box {
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0px;
    z-index: -1;
  }
  .box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 150px;
    opacity: 0.5;
    background: linear-gradient(
      90deg,
      #fff 0%,
      #fff 10%,
      #ffafc8 10%,
      #ffafc8 20%,
      #74d7ee 20%,
      #74d7ee 30%,
      #613915 30%,
      #613915 40%,
      #e40303 40%,
      #e40303 50%,
      #ff8c00 50%,
      #ff8c00 60%,
      #ffed00 60%,
      #ffed00 70%,
      #008026 70%,
      #008026 80%,
      #24408e 80%,
      #24408e 90%,
      #732982 90%,
      #732982 100%
    );
    transform: translate3d(0px, 0px, -1px);
    border-radius: inherit;
    pointer-events: none;
        filter: blur(64px);

    z-index: -1;
  }

  .box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 320px;
    background: linear-gradient(transparent, rgba(6,0,9,0.5), #060009);
    z-index: 0;
  }
</style>

<div class="box">
  <hr class="pride w-full h-[2px] border-transparent" />
</div>
